.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 50px;
  width: 100%;
}

.imageLogo{
  max-width: 110px;
  max-height: 110px;
  text-decoration: none;
  margin-left:10px ;
}

.reserva{
  display: flex;
  align-items: center;
  margin-right: 10px;
  align-items:flex-end;
  flex-direction: column;
  cursor: pointer;
}

.reserva strong{
  color: #fff;
  display: block;
}

.reserva span{
  color: #ddd;
  font-size: 15px;
}