html,
body {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #242424;
  color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#root{
  max-width: 120px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

p {
  text-decoration: none;
  color: #aaa;
}

button{
  cursor: pointer;
}